<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>DMCA - DealsGuide</title>
    <meta property="site_name" content="DealsGuide">
    <meta name="description" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free" />
    <meta name="keywords"
        content="php nulled script, nulled script php, script nulled,nulled script wp,nulled script,woodmart nulled script,nulled script plugins, php script, fast php script, fastest php script, simple php script, php script update, php script simple, php script church, codecanyon nulled script,codecanyon free scripts, free nulled, free wp tamplate" />
    <meta name="author" content="DealsGuide" />

    <!-- Open Graph -->
    <meta property="og:title" content="DMCA - DealsGuide">
    <meta property="og:description" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free">
    <meta property="og:site_name" content="DealsGuide">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://DealsGuide.co/dmca/" />
    <meta property="og:image" content="https://DealsGuide.co/static/img/og.jpg" />

    <!-- Twitter card start-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="DMCA - DealsGuide">
    <meta name="twitter:description" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free">
    <meta name="twitter:image" content="https://DealsGuide.co/static/img/og.jpg">
    <meta name="twitter:image:alt" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free">
    <meta name="twitter:site" content="@DealsGuide">
    <meta name="twitter:url" content="https://DealsGuide.co/dmca/">
    <!-- Twitter card end-->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <!-- Canonical start -->
    <link rel="canonical" href="https://DealsGuide.co/dmca/">
    <!-- Canonical end -->
</head>

<body>
    {% include 'navbar.html' %}
    <br>
    <hr>
    <div class="result-section my-5">
        <div class="container">
            <br>
            <hr>
            <h4>DMCA – Copyright Infringement</h4>
            <br>
            <p class="mt-2">DealsGuide.co respects the intellectual property rights of others and is committed to
                complying with the Digital Millennium Copyright Act ("DMCA") and other applicable intellectual property
                laws. If you believe that your copyrighted material has been posted on DealsGuide.co without your
                authorization or links to your copyrighted material are returned through our search engine, please
                contact us immediately.</p>
            <p class="mt-2">To file a DMCA complaint with DealsGuide.co, you must send an email to
                contact(at)DealsGuide.co that includes the following information:</p>

            <p class="mt-2">
                • Your full name, address, telephone number, and email address.
                <br>
                • A statement that you have a good faith belief that the use of the copyrighted material is not
                authorized by the copyright owner, its agent, or the law.
                <br>
                • A statement that the information you have provided in your complaint is accurate and that you are the
                copyright owner or authorized to act on behalf of the copyright owner.
                <br>
                • Identification of the copyrighted work claimed to have been infringed, including a description of the
                work and its location on DealsGuide.co.
                <br>
                • A statement that you have a good faith belief that the use of the copyrighted work is not authorized
                by the copyright owner, its agent, or the law.
                <br>
                • A statement that you swear, under penalty of perjury, that the information in the notification is
                accurate and that you are the copyright owner or authorized to act on behalf of the copyright owner.
            </p>

            <p class="mt-2">DealsGuide.co will respond to all such notices, including as required or appropriate by
                removing the infringing material or disabling all links to the infringing material. In the case of a
                user who may infringe or repeatedly infringes the copyrights or other intellectual property rights of
                DealsGuide.co or others, DealsGuide.co may, in its discretion, terminate or deny access to and use of
                the website.</p>

            <p class="mt-2">Please be aware that DealsGuide.co may forward your DMCA notice to the user who posted the
                allegedly infringing material. If the allegedly infringing material is removed or access to it is
                disabled, DealsGuide.co will make a good faith attempt to contact the user who posted the material so
                they can respond with a counter-notification. The counter-notification must include the same information
                required for a DMCA complaint and must be submitted to the email address provided in the initial DMCA
                complaint.</p>
            <br>
            <h5>Important Notice:</h5>
            <p class="mt-2">DealsGuide.co only provides download links to content freely available on the internet and
                uploaded by individual users. We do not host or upload any copyrighted material on our website. We are
                not affiliated with any third-party sites linked on our website and are not responsible for their
                content.</p>

            <p class="mt-2">All content on DealsGuide.co is copyright of their respective owners. We provide content
                for testing purposes only and do not condone the use of copyrighted material for commercial purposes. We
                do not guarantee the accuracy or quality of any content on our website and users access and use content
                at their own risk.</p>

            <h5></h5>
            <p class="mt-2">Please review our Privacy Policy for more information on how we collect, use, and protect
                your personal information.</p>
            <br>
            <h5>Contact Us</h5>
            <p class="mt-2">If you have any questions or concerns about our DMCA Policy, please contact us at
                [Contact@DealsGuide.co].</p>
            <br>
            <hr>
        </div>
    </div>
    </div>

    <footer class="mt-5 p-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="menu-footer">
                        <h4 class="border-bottom pb-2">Short Links</h4>
                        <ul class="navbar-nav">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="{% url 'privacy' %}" class="nav-link">Privacy Policy</a></li>
                            <li><a href="{% url 'dmca' %}" class="nav-link">DMCA</a></li>
                            <li><a href="mailto:contact@DealsGuide.co" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="about-footer">
                        <h4 class="mb-3 border-bottom pb-2">About Us</h4>
                        <p style="text-align: justify;"><b>DealsGuide</b> is a free code library with a search tool to find and download unlimited resources, including free PHP scripts, plugins, Envato templates, Blogger templates, app source codes, and more. Find what you need or get inspired. Try DealsGuide now!</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="social-links">
                        <h4 class="mb-3 border-bottom pb-2">Follow Us</h4>
                        <a class="mx-2" href="https://www.facebook.com/dealsguide.co/"><img style="width:50px;"
                                src="{% static 'img/facebook.png' %}" alt="facebook"></a>
                        <a class="mx-2" href="https://twitter.com/DealsGuide_co"><img style="width:50px;"
                                src="{% static 'img/social.png' %}" alt="twitter"></a>
                        <a class="mx-2" href="https://www.instagram.com/dealsguide.co"><img style="width:50px;"
                                src="{% static 'img/tiktok.png' %}" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center copyright">
            Copyrights &copy; 2023 | All Right Reserved | Designed By DealsGuide.co
        </div>
    </footer>
    <script src="{% static 'js/jquery3.4.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
</body>

</html>