<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>DealsGuide - Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates</title>
    <meta property="site_name" content="DealsGuide">
    <meta name="description" content="DealsGuide is a Free Code Library to Download Nulled PHP Scripts, Plugins, themes, Tamplates and more">
    <meta name="keywords"
        content="Nulled Scripts, nulled Premium PHP Scripts, Nulled scripts torrent, Scripts Nulled, Codecanyon Scripts free Download, Premium Nulled Php Scripts, Download Nulled Scripts Free, Nulled PHP Scripts, Free Download Nulled PHP Scripts, Free Download Nulled PHP Scripts, Nulled PHP, Free PHP Scripts,php nulled script, nulled script php, script nulled,nulled script wp,nulled script,woodmart nulled script,nulled script plugins, php script, fast php script, fastest php script, simple php script, php script update, php script simple, php script church, codecanyon nulled script,codecanyon free scripts, free nulled, free wp tamplate">
    <meta name="author" content="DealsGuide">
    <meta name="robots" content="index, follow">

    <!-- Open Graph -->
    <meta property="og:title" content="DealsGuide - Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates">
    <meta property="og:description"
        content="DealsGuide is a Free Code Library to Download Nulled PHP Scripts, Plugins, themes, Tamplates and more">
    <meta property="og:site_name" content="DealsGuide">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dealsguide.co" />
    <meta property="og:image" content="https://dealsguide.co/static/img/og.jpg" />

    <!-- Twitter card start-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="DealsGuide - Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates">
    <meta name="twitter:description"
        content="DealsGuide is a Free Code Library to Download Nulled PHP Scripts, Plugins, themes, Tamplates and more">
    <meta name="twitter:image" content="https://dealsguide.co/static/img/og.jpg">
    <meta name="twitter:image:alt" content="DealsGuide - Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates">
    <meta name="twitter:site" content="@DealsGuide">
    <meta name="twitter:url" content="https://dealsguide.co">
    <!-- Twitter card end-->

    <!-- Cronical -->
    <link rel="canonical" href="https://dealsguide.co">
    <link rel="alternate" hreflang="en" href="https://dealsguide.co">

    <!-- Style -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Schema -->
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "DealsGuide - Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates",
		"url": "https://dealsguide.co"}
		</script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

</head>

<body>
    {% include 'header.html' %}

    <div class="how-section py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 p-4 text-center">
                    <div class="img-wrapper">
                        <img src="{% static 'img/how-img.png' %}" class="w-85" alt="PHP Premium Script">
                    </div>
                    <div class="theme-link">
                        <a href="/">Free Code Library to Download Nulled PHP Scripts, Plugins, themes and Tamplates</a>
                    </div>
                </div>
                <div class="col-md-6 p-4">
                    <h1 class="text-center mb-4 text-white">How DealsGuide Works?</h1>
                    <p class="how-p"> Simply search for a Script by name using the search bar above
                        and
                        download it for free. We have a vast collection of scripts, including almost every script listed
                        on <a href="https://cutt.ly/Mwo8ZM6z" style="color:white;">Codecanyon.com</a></p>
                    <p class="how-p">Our database consists of over 100,000+ fully activated scripts, Themes, Tamplates, App Source Codes and more. All available
                        for free download, eliminating the need for you to spend a single dollar purchasing them.</p>
                    <p class="how-p">It may sound too good to be true, but rest assured, we don't sell anything, serve
                        ads on our website, and there's no requirement for signing up or subscribing. We believe in
                        providing free access to quality scripts without any hidden costs.</p>
                    <div class="my-5">
                        <a href="/php-scripts/Search" class="suggest-link">Suggest me a Script!</a>
                    </div>
                </div>

                <div class="devide"></div>

                <div class="show-me my-5">
                    <div class="row align-items-center">
                        <div class="col-md-9 col-sm-6 mb-4 mb-md-0">
                            <div class="show-p px-5">
                                <h1>Looking for a premium WordPress theme for your website?</h1>
                                <h5>Discover our website's free, premium-quality WordPress themes to elevate your site's appeal and functionality.</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="https://nulledwp.click" target="_blank" class="show-link">Nulled WP</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="themes-section my-5">
        <div class="container">
            <div class="text-center my-5">
                <h3>Most Downloaded Scripts</h3>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for script in most_downloaded_scripts %}
                <div class="col-lg-4 col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{script.image}}" class="img-fluid" alt="{{script.title}}">
                        </div>
                        <div class="overlay">
                            <a href="{% url 'detail' script.slug %}">
                                <h5>{{script.title}} </h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div><!-- End Row -->

            <div class="container my-5">
                <div class="text-center my-5">
                    <h3>Most Rated Scripts</h3>
                    <hr>
                </div>
                <div class="row">
                    {% for script in most_rated_scripts %}
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{script.image}}" class="img-fluid" alt="{{script.title}}">
                            </div>
                            <div class="overlay">
                                <a href="{% url 'detail' script.slug %}">
                                    <h5>{{script.title}} </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- End Row -->
            </div>
        </div><!-- End Container -->
    </div>

    <footer class="mt-5 p-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="menu-footer">
                        <h4 class="border-bottom pb-2">Short Links</h4>
                        <ul class="navbar-nav">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="{% url 'privacy' %}" class="nav-link">Privacy Policy</a></li>
                            <li><a href="{% url 'dmca' %}" class="nav-link">DMCA</a></li>
                            <li><a href="mailto:contact@dealsguide.co" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="about-footer">
                        <h4 class="mb-3 border-bottom pb-2">About Us</h4>
                        <p style="text-align: justify;"><b>DealsGuide</b> is a free code library with a search tool to find and download unlimited resources, including free PHP scripts, plugins, Envato templates, Blogger templates, app source codes, and more. Find what you need or get inspired. Try DealsGuide now!</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="social-links">
                        <h4 class="mb-3 border-bottom pb-2">Follow Us</h4>
                        <a class="mx-2" href="https://www.facebook.com/dealsguide.co/"><img style="width:50px;"
                                src="{% static 'img/facebook.png' %}" alt="facebook"></a>
                        <a class="mx-2" href="https://twitter.com/DealsGuide_co"><img style="width:50px;"
                                src="{% static 'img/social.png' %}" alt="twitter"></a>
                        <a class="mx-2" href="https://www.instagram.com/dealsguide.co"><img style="width:50px;"
                                src="{% static 'img/tiktok.png' %}" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center copyright">
            Copyrights &copy; 2023 | All Right Reserved | Designed By DealsGuide.co
        </div>
    </footer>
    <script src="{% static 'js/jquery3.4.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
</body>
</html>