<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Privacy Policy - DealsGuide</title>
    <meta property="site_name" content="DealsGuide">
    <meta name="description" content="DealsGuide - Download PHP Nulled Scripts from Codecanyon for Free" />
    <meta name="keywords"
        content="php nulled script, nulled script php, script nulled,nulled script wp,nulled script,woodmart nulled script,nulled script plugins, php script, fast php script, fastest php script, simple php script, php script update, php script simple, php script church, codecanyon nulled script,codecanyon free scripts, free nulled, free wp tamplate" />
    <meta name="author" content="DealsGuide" />

    <!-- Open Graph -->
    <meta property="og:title" content="Privacy Policy - DealsGuide">
    <meta property="og:description" content="DealsGuide - Download PHP Nulled Scripts from Codecanyon for Free">
    <meta property="og:site_name" content="DealsGuide">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dealsguide.co/privacy/" />
    <meta property="og:image" content="https://dealsguide.co/static/img/og.jpg" />

    <!-- Twitter card start-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Privacy Policy - DealsGuide">
    <meta name="twitter:description" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free">
    <meta name="twitter:image" content="https://dealsguide.co/static/img/og.jpg">
    <meta name="twitter:image:alt" content="DealsGuide - Download PHP Nulled Script from Codecanyon for Free">
    <meta name="twitter:site" content="@DealsGuide">
    <meta name="twitter:url" content="https://dealsguide.co/privacy/">
    <!-- Twitter card end-->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <!-- Canonical start -->
    <link rel="canonical" href="https://dealsguide.co/privacy/">
    <!-- Canonical end -->

</head>

<body>
    {% include 'navbar.html' %}
    <br>
    <hr>
    <div class="result-section my-5">
        <div class="container">
            <br>
            <hr>
            <h4>Privacy Policy</h4>
            <br>
            <p class="mt-2">Thank you for using DealsGuide.co. We value your privacy and are committed to protecting
                your personal information. This Privacy Policy explains how we collect, use, and disclose information
                when you use our website.</p>
            <br>
            <h5>Information We Collect</h5>
            <p class="mt-2">We do not collect any personal information from you when you use our website. We do,
                however, use third-party services like Google Analytics to collect non-personal information about how
                you use our website, such as your IP address, browser type, operating system, and pages visited. This
                information is collected solely for the purpose of analyzing and improving our website and is not shared
                with any other third-party services.</p>
            <br>
            <h5>Affiliate Offers</h5>
            <p class="mt-2">We may use affiliate links on our website. When you click on an affiliate link, we may
                receive a commission from the affiliated company. We do not collect any personal information from you
                when you click on an affiliate link.</p>
            <br>
            <h5>Cookies</h5>
            <p class="mt-2">We use cookies to improve your experience on our website. A cookie is a small text file that
                is stored on your device when you visit our website. Cookies help us remember your preferences and track
                your activity on our website. We do not use cookies to collect any personal information from you.</p>
            <br>
            <h5>Disclosure of Information</h5>
            <p class="mt-2">We do not share any personal information with third-party services. We may, however,
                disclose non-personal information to third-party services like Google Analytics. We will also comply
                with any legal obligation to disclose information.</p>
            <br>
            <h5>Security</h5>
            <p class="mt-2">We take reasonable measures to protect your information from unauthorized access,
                disclosure, and use. However, no data transmission over the internet or any wireless network can be
                guaranteed to be 100% secure. Therefore, we cannot guarantee the security of any information you
                transmit to us.</p>
            <br>
            <h5>Changes to This Policy</h5>
            <p class="mt-2">We may update this Privacy Policy from time to time. We will notify you of any changes by
                posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically
                for any changes.</p>
            <br>
            <h5>Contact Us</h5>
            <p class="mt-2">If you have any questions or concerns about our Privacy Policy, please contact us at
                [Contact@dealsguide.co].</p>
            <br>
            <hr>
        </div>
    </div>
    </div>

    <footer class="mt-5 p-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="menu-footer">
                        <h4 class="border-bottom pb-2">Short Links</h4>
                        <ul class="navbar-nav">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="{% url 'privacy' %}" class="nav-link">Privacy Policy</a></li>
                            <li><a href="{% url 'dmca' %}" class="nav-link">DMCA</a></li>
                            <li><a href="mailto:contact@dealsguide.co" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="about-footer">
                        <h4 class="mb-3 border-bottom pb-2">About Us</h4>
                        <p style="text-align: justify;"><b>DealsGuide</b> is a free code library with a search tool to find and download unlimited resources, including free PHP scripts, plugins, Envato templates, Blogger templates, app source codes, and more. Find what you need or get inspired. Try DealsGuide now!</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="social-links">
                        <h4 class="mb-3 border-bottom pb-2">Follow Us</h4>
                        <a class="mx-2" href="https://www.facebook.com/dealsguide.co/"><img style="width:50px;"
                                src="{% static 'img/facebook.png' %}" alt="facebook"></a>
                        <a class="mx-2" href="https://twitter.com/DealsGuide_co"><img style="width:50px;"
                                src="{% static 'img/social.png' %}" alt="twitter"></a>
                        <a class="mx-2" href="https://www.instagram.com/dealsguide.co"><img style="width:50px;"
                                src="{% static 'img/tiktok.png' %}" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center copyright">
            Copyrights &copy; 2023 | All Right Reserved | Designed By DealsGuide.co
        </div>
    </footer>
    <script src="{% static 'js/jquery3.4.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
</body>

</html>